---
import "../../styles/global.css";


interface Props {
  title?: string;
}

const { title } = Astro.props
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href="./img/icono2.png" style="border-radius:25px">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Cormorant+Garamond:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Sacramento&family=Italianno&family=Tangerine&family=Alex+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://kit.fontawesome.com/360896a8a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/360896a8a4.css" crossorigin="anonymous">


  </head>
  <body class="min-h-screen flex flex-col items-center justify-center ">
    <div id="app">
      <slot />
    </div>
    
  </body>
</html>

<style>

  body{
    background: #f4f7f2;
  }
</style>