@import "tailwindcss";

body {
    overflow-x: hidden;
    overflow-y: auto;
}

#envelope {
    /* position: relative;
    width: min(90vw, 360px);
    height: calc(width * 0.66); */
    position: relative;
    width: clamp(280px, 90vw, 360px);
    aspect-ratio: 3 / 2;
    filter: drop-shadow(0 25px 40px rgba(0, 0, 0, .25));
}

#back {
    position: absolute;
    inset: 0;
    background: linear-gradient(145deg, var(--paper), var(--paper-dark));
    border-radius: 16px;
    z-index: 3;
}

#flap {
    position: absolute;
    inset: 0;
    clip-path: polygon(0 0, 50% 55%, 100% 0);
    transform-origin: top center;
    background: linear-gradient(to bottom, #f3ede6, #e6dccf);
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    z-index: 4;
}

#seal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 56px;
    height: 56px;
    /* background: #065f46; */
    border-radius: 999px;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    color: white;
    z-index: 10;
    background: radial-gradient(circle at top left, #047857, #064e3b);
    box-shadow:
        0 6px 12px rgba(0, 0, 0, .35),
        inset 0 2px 4px rgba(255, 255, 255, .2);
    font-size: 22px;
}

#letter {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    height: 140%;
    background: radial-gradient(circle at top, #ffffff, var(--paper));
    transform: translate(-50%, 100%);
    border-radius: 12px;
    z-index: 2;
    /* box-shadow: 0 30px 60px rgba(0,0,0,.25); */
    overflow: hidden;

}

.letter-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Georgia", serif;
    color: #064e3b;
    text-align: center;
}

.small {
    letter-spacing: 0.3em;
    font-size: 14px;
}

h1 {
    font-size: 48px;
    margin: 8px 0;
}

.name {
    font-size: 20px;
}

:root {
    --green-dark: #064e3b;
    --green: #065f46;
    --green-light: #d1fae5;
    --gold: #d4af37;
    --paper: #fffaf3;
    --paper-dark: #efe9e1;
}

/* Responsivo */
@media(min-width:360px) {
    #envelope {
        width: 70vw;
    }

    #letter {
        height: 140%;
    }
}

@media(min-width:480px) {
    #envelope {
        width: 40vw;
    }

    #letter {
        height: 140%;
    }
}