      <section id="Contador" class="absolute min-h-screen flex flex-col items-center justify-center p-6 z-40 mt-10 text-center opacity-0">
          <div class="w-full max-w-4xl">
            <h3 id="texto_Contador" class="font-['Pinyon_Script']  text-5xl mb-6 mt-10 opacity-0">Faltan tan solo</h3>
            <!-- flex justify-center gap-6 md:gap-12 text-center mb-24 font-['Playfair_Display'] italic opacity-0 -->
            <div id="countdown" class="grid grid-cols-4 md:flex md:justify-center gap-4 md:gap-8 font-['Playfair_Display'] italic opacity-0">

              <div id="countdown1" class="flex flex-col items-center px-2 md:px-8 py-6 border border-[#D4AF37]/40 rounded-2xl bg-white/70 backdrop-blur-sm opacity-0">
                <span id="days" class="text-4xl md:text-6xl text-emerald-900">00</span>
                <span class="mt-2 text-[10px] md:text-xs uppercase tracking-[0.2em] text-[#D4AF37] font-sans font-bold">Días</span>
              </div>

              <div id="countdown2" class="flex flex-col items-center px-2 md:px-8 py-6 border border-[#D4AF37]/40 rounded-2xl bg-white/70 backdrop-blur-sm opacity-0">
                <span id="hours" class="text-4xl md:text-6xl text-emerald-900">00</span>
                <span class=" mt-2 text-[10px] md:text-xs uppercase tracking-[0.2em] text-[#D4AF37] font-sans font-bold">Horas</span>
              </div>

              <div id="countdown3" class="flex flex-col items-center px-2 md:px-8 py-6 border border-[#D4AF37]/40 rounded-2xl bg-white/70 backdrop-blur-sm opacity-0">
                <span id="mins" class="text-4xl md:text-6xl text-emerald-900">00</span>
                <span class="mt-2 text-[10px] md:text-xs uppercase tracking-[0.2em] text-[#D4AF37] font-sans font-bold">Mins</span>
              </div>

              <div id="countdown4" class="flex flex-col items-center px-2 md:px-8 py-6 border border-[#D4AF37]/40 rounded-2xl bg-white/70 backdrop-blur-sm opacity-0">
                <span id="segs" class="text-4xl md:text-6xl text-emerald-900">00</span>
                <span class="mt-2 text-[10px] md:text-xs uppercase tracking-[0.2em] text-[#D4AF37] font-sans font-bold">Segs</span>
              </div>

            </div>

          </div>
        </section>