<div class="flex items-center flex-col p-5 md:p-10 z-50 mt-10 text-center">
    <h1 class=" font-['Pinyon_Script'] pb-10 text-4xl md:text-6xl text-(--gold)">
            El día
    </h1>
    <div class="flex items-center mb-20 md:gap-8 text-[#6B7B4B] font-['Playfair_Display'] italic text-bold">
        <div class="fecha-lateral left text-center">
              <div class="line w-32 h-px bg-[#6B7B4B] mx-auto mb-2 mr-2"></div>
              <p class="tracking-[0.3rem] text-md md:text-lg">Sabado</p>
              <div class="line w-32 h-px bg-[#6B7B4B] mx-auto mb-2 mt-2 mr-2">
              </div>
        </div>
        <!-- Centro -->
        <div class="fecha-centro text-center ">
            <p class="tracking-[0.4em] text-md md:text-lg mb-2 md:mb-1 text-(--gold)">
                Enero
            </p>
            <p id="num_fecha" class="text-6xl md:text-8xl font-serif leading-none text-(--gold)"
            >
                24
            </p>
            <p class="tracking-[0.4em] text-md md:text-lg mt-2  text-(--gold)">2026</p>
        </div>
        <!-- Derecha -->
        <div class="fecha-lateral right text-center">
            <div class="line w-32 h-px bg-[#6B7B4B] mx-auto mb-2 ml-2"></div>
            <p class="tracking-[0.3em] text-md md:text-lg ">06:00 P.M.</p>
            <div class="line w-32 h-px bg-[#6B7B4B] mx-auto mb-2 mt-2 ml-2">
            </div>
        </div>
    </div>
</div>