---
interface Props{
    id?: string;
    texto?: string;

}

const { id, texto  } = Astro.props
---

<section id={id} class="absolute min-h-screen flex flex-col items-center justify-center p-10 z-40 reveal mt-10 text-center opacity-0">
    <h1 id="titulo_desp"
        class="font-['Pinyon_Script'] text-7xl mb-8 mt-12 opacity-0">
        ¡Te esperamos!
    </h1>
    <!-- <h2 id="sbt_despedida" class="font-['Pinyon_Script'] text-5xl opacity-0">
        Formal
    </h2> -->
    <h2 id="despedida" class="font-['Playfair_Display'] italic opacity-0">
        {texto}
    </h2>

</section>
