---
interface Props{
    id?: string;
    texto?: string;

}

const { id, texto  } = Astro.props
---

<section id={id} class=" flex flex-col items-center justify-center p-20 z-40 text-center">
    <h1 class="font-['Pinyon_Script'] text-7xl mb-8 mt-12 text-(--gold)">
        ¡Te esperamos!
    </h1>

    <h2 class="font-['Playfair_Display'] italic ">
        {texto}
    </h2>

</section>
