<!-- grid grid-cols-2 md:grid-cols-3 -->
<section id="anim_fotos" class="absolute p-4 top-0 mt-40 md:grid md:grid-cols-3 md:gap-6 z-40"
  >
    <img id="foto1"
      src="/img/foto1.jpeg"
      class="reveal .photo-frame rounded-xl shadow-lg hover:scale-105 transition-transform opacity-0 md:opacity-1"
    />
    <img id="foto2"
      src="/img/foto2.jpeg"
      class="reveal .photo-frame rounded-xl shadow-lg opacity-0 md:opacity-1"
    />
    <img id="foto3" src="/img/foto3.jpeg" class="reveal .photo-frame rounded-xl shadow-lg opacity-0 md:opacity-1" />
  </section>