<!-- Esta cochinada mantiene el diseño en PC, porqué no sé? bueno si se por el grid, entonces lo dejo así y es el pilar que no se rompa en PC -->
<section
    id="pilar"
    class="h-0 p-4 grid grid-cols-2 md:grid-cols-3 gap-4 bg-[#fcfdfb] opacity-0"
  >
    <img
      src="/img/foto1.jpeg"
      class="reveal rounded-xl shadow-lg hover:scale-105 transition-transform"
    />
    <img
      src="/img/foto2.jpeg"
      class="reveal rounded-xl shadow-lg"
    />
    <img src="/img/foto3.jpeg" class="reveal rounded-xl shadow-lg" />
</section>