---
import Card from "../components/Card.astro"
import ContainerGrid from "./ContainerGrid.astro"
import ScrollReveal from "./ScrollReveal.astro"
---

<section class=" min-h-screen flex flex-col items-center  p-5 z-40 mt-5 top-0 text-center">
    <h1 id="txt_Wish" class="font-['Pinyon_Script'] text-7xl mt-34 text-(--gold)">Wish List</h1>
    <p id="regalo" class="font-['Playfair_Display'] italic text-emerald-900">
        El mejor regalo para mí es tu presencia.
    </p>
    <p id="regalo2" class="font-['Playfair_Display'] italic text-emerald-900 mb-4">
        Pero si gustas darme algún obsequio y no lo tienes claro todavía, te
        dejo las siguientes opciones:
    </p>
    <section class="snap-section mt-4">
        <!-- <div class="inner-scroll grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-6 mt-8 max-w-7xl  top-20 "> -->
        <!-- Cards -->
         <ScrollReveal animation="fade-up">

         
        <ContainerGrid id="Card1" class="mx-4" >

            <Card up="Cosas de" title="Harry Potter" />
            <Card up="Cosas de" title="Hufflepuff" />
  
            <Card up="Cosas de" title="Voleibol"/>
            <Card up="Cosas de" title="Olivia Rodrigo" />

            <Card up="Cosas de" title="Sabrina Carpenter"/>
            <Card up="Discos de" title="Música"/>

            <Card up="Cosas de" title="KATSEYE"/>
            <Card up="Libros de" title="Saga Empíreo"/>

            <Card up="Libros de" title="Saga Crepúsculo"/>
            <Card up="Libros de" title="Saga Juegos del Hambre"/>

            <Card up="Libros de" title="Culpa mía"/>
            <Card up="Cosas de" title="Wicked"/>
 
            <Card up="Unas" title="Flores"/>
            <Card up="Libros de" title="Romance"/>
        </ContainerGrid>
            </ScrollReveal>
        <!-- </div> -->
    </section>
        
    
</section>


<!-- <style>
    /* Sección que "atrapa" el scroll */
.snap-section {
  height: 50vh;
  
  overflow: hidden;
  scroll-snap-align: start;
}

/* Scroll interno */
.inner-scroll {
  height: 100%;
  overflow-y: auto;
  padding: 4rem 1.5rem;
 
  scroll-snap-type: y mandatory;
  overscroll-behavior: contain; /* CLAVE */
}

/* Cada card */
.card-anim {
  scroll-snap-align: start;
  margin-bottom: 2rem;
}

.inner-scroll::-webkit-scrollbar {
  width: 6px;
}

.inner-scroll::-webkit-scrollbar-thumb {
  background: rgba(212,175,55,.4);
  border-radius: 999px;
}
</style> -->
